<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IntestiScan</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <nav class="navbar"></nav>
    <div class="btn-div">
      <a href="SignIn/"><button class="main-btn">Sign In</button></a>
      <a href="SignUp/"><button class="main-btn">Sign Up</button></a>
    </div>
  </body>
</html>
